<mat-progress-bar
  *ngIf="loading$ | async"
  color="accent"
  mode="indeterminate"
></mat-progress-bar>

<form class="search-box" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input formControlName="search" matInput placeholder="Search" />
  </mat-form-field>
</form>

<mat-selection-list [multiple]="false" *ngIf="characters.length">
  <div mat-subheader>ALL MOVIES</div>
  <mat-list-option
    *ngFor="let character of characters"
    [routerLink]="character.id"
  >
    <mat-icon mat-list-icon>theaters</mat-icon>
    <div mat-line>{{ character.name }}</div>
    <!-- <div mat-line>{{ character.birth_year | date }}</div> -->
  </mat-list-option>
</mat-selection-list>
